LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
langgraph_production = 

# AI SETTINGS
EMBEDDINGS = 
OPENAI_API_KEY=
# Vectorstore
ASTRA_DB_API_ENDPOINT=
ASTRA_DB_APPLICATION_TOKEN=
